[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
ipython = "*"
django-extensions = "*"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
requests = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
